backoff>=1.3.2,<2.0
boto==2.43.0
click>=6.0,<7.0
jenkinsapi==0.3.3
requests>=2.9.1,<3.0
pycrypto
pyyaml==3.12
# Replace this line with a PyPI line as soon as a new PyGithub release is published
# containing the commit 5823ed7, which is already merged upstream.
git+https://github.com/doctoryes/PyGithub.git@v2.0.0-alpha.4-edx1#egg=PyGithub
