boto==2.39.0
# Replace this line with a PyPI line as soon as a new PyGithub release is published
# containing the commit 5823ed7, which is already merged upstream.
git+https://github.com/doctoryes/PyGithub.git@v2.0.0-alpha.4-edx1#egg=PyGithub
