<?xml version="1.0" encoding="utf-8"?>
<cruise xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="cruise-config.xsd" schemaVersion="75">
  <server artifactsdir="artifacts" commandRepositoryLocation="default" serverId="b037c0eb-c36d-4145-b17e-041c1ec960e0">
    <security>
      <passwordFile path="/usr/share/go-server/passwd" />
    </security>
  </server>
  <pipelines group="edx_release_build">
    <authorization>
      <view>
        <user>johnsq</user>
      </view>
      <operate>
        <user>johnsq</user>
      </operate>
      <admins>
        <user>johnsq</user>
      </admins>
    </authorization>
    <pipeline name="edx_release" isLocked="true">
      <environmentvariables>
        <variable name="GO_EXTERNAL_TRIGGER_PR_ID">
          <value />
        </variable>
        <variable name="GO_EXTERNAL_TRIGGER_REPO_URL">
          <value />
        </variable>
        <variable name="GO_EXTERNAL_TRIGGER_COMMIT_HASH">
          <value />
        </variable>
      </environmentvariables>
      <materials>
        <git url="https://github.com/edx/dummy-webapp" />
      </materials>
      <stage name="PRAgainstBranchGate">
        <approval type="manual" />
        <jobs>
          <job name="PRGateJob" timeout="5">
            <tasks>
              <exec command="/usr/bin/python">
                <arg>/usr/local/lib/python2.7/dist-packages/tubular/scripts/github/check_pr_against_branch.py</arg>
                <arg>-r</arg>
                <arg>49974806</arg>
                <arg>--pr_env_var</arg>
                <arg>GO_EXTERNAL_TRIGGER_PR_ID</arg>
                <arg>-b</arg>
                <arg>master</arg>
                <runif status="passed" />
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
      <stage name="UpdateCodeToPR">
        <jobs>
          <job name="UpdateCodeJob">
            <tasks>
              <exec command="/usr/bin/python">
                <arg>/usr/local/lib/python2.7/dist-packages/tubular/scripts/delay_and_print_vars.py</arg>
                <arg>GO_PIPELINE_NAME</arg>
                <arg>GO_JOB_NAME</arg>
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
      <stage name="NotifyAndTest">
        <jobs>
          <job name="SendHipChatMsgJob">
            <environmentvariables>
              <variable name="HIPCHAT_AUTH_TOKEN" secure="true">
                <encryptedValue>Aq8QBzl6p4bseL2/ZkNT6v6XhViqRuDyJVsvjb5CS5eDFmF6iN0I0TtKjeTTp5Ne</encryptedValue>
              </variable>
            </environmentvariables>
            <tasks>
              <exec command="/usr/bin/python">
                <arg>/usr/local/lib/python2.7/dist-packages/tubular/scripts/hipchat/submit_hipchat_msg.py</arg>
                <arg>-a</arg>
                <arg>HIPCHAT_AUTH_TOKEN</arg>
                <arg>-c</arg>
                <arg>Hammer</arg>
                <runif status="passed" />
              </exec>
            </tasks>
          </job>
          <job name="RunTest1Job">
            <tasks>
              <exec command="/usr/bin/python">
                <arg>/usr/local/lib/python2.7/dist-packages/tubular/scripts/delay_and_print_vars.py</arg>
                <arg>GO_EXTERNAL_TRIGGER_PR_ID</arg>
                <arg>GO_EXTERNAL_TRIGGER_REPO_URL</arg>
                <arg>GO_EXTERNAL_TRIGGER_COMMIT_HASH</arg>
                <runif status="passed" />
              </exec>
            </tasks>
          </job>
          <job name="RunTest2Job">
            <tasks>
              <exec command="/usr/bin/python">
                <arg>/usr/local/lib/python2.7/dist-packages/tubular/scripts/delay_and_print_vars.py</arg>
                <arg>GO_EXTERNAL_TRIGGER_PR_ID</arg>
                <arg>GO_EXTERNAL_TRIGGER_REPO_URL</arg>
                <arg>GO_EXTERNAL_TRIGGER_COMMIT_HASH</arg>
                <runif status="passed" />
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
      <stage name="Build">
        <jobs>
          <job name="BuildJob">
            <tasks>
              <exec command="/usr/bin/python">
                <arg>/usr/local/lib/python2.7/dist-packages/tubular/scripts/delay_and_print_vars.py</arg>
                <arg>GO_EXTERNAL_TRIGGER_PR_ID</arg>
                <arg>GO_EXTERNAL_TRIGGER_REPO_URL</arg>
                <arg>GO_EXTERNAL_TRIGGER_COMMIT_HASH</arg>
                <runif status="passed" />
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
      <stage name="Deploy">
        <approval type="manual" />
        <jobs>
          <job name="DeployToEnvironment">
            <tasks>
              <exec command="/usr/bin/python">
                <arg>/usr/local/lib/python2.7/dist-packages/tubular/scripts/delay_and_print_vars.py</arg>
                <arg>GO_EXTERNAL_TRIGGER_PR_ID</arg>
                <arg>GO_EXTERNAL_TRIGGER_REPO_URL</arg>
                <arg>GO_EXTERNAL_TRIGGER_COMMIT_HASH</arg>
                <runif status="passed" />
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
    </pipeline>
  </pipelines>
  <pipelines group="edx_release_build_alt">
    <authorization>
      <view>
        <user>johnsq</user>
      </view>
      <operate>
        <user>johnsq</user>
      </operate>
      <admins>
        <user>johnsq</user>
      </admins>
    </authorization>
    <pipeline name="edx_release_alt">
      <environmentvariables>
        <variable name="GO_EXTERNAL_TRIGGER_PR_ID">
          <value />
        </variable>
        <variable name="GO_EXTERNAL_TRIGGER_REPO_URL">
          <value />
        </variable>
        <variable name="GO_EXTERNAL_TRIGGER_COMMIT_HASH">
          <value />
        </variable>
      </environmentvariables>
      <materials>
        <git url="https://github.com/edx/dummy-webapp" />
      </materials>
      <stage name="PRAgainstBranchGate">
        <jobs>
          <job name="PRGateJob" timeout="5">
            <tasks>
              <exec command="/usr/bin/python">
                <arg>/usr/local/lib/python2.7/dist-packages/tubular/scripts/github/check_pr_against_branch.py</arg>
                <arg>-r</arg>
                <arg>49974806</arg>
                <arg>--pr_env_var</arg>
                <arg>GO_EXTERNAL_TRIGGER_PR_ID</arg>
                <arg>-b</arg>
                <arg>master</arg>
                <runif status="passed" />
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
      <stage name="UpdateCodeToPR">
        <jobs>
          <job name="UpdateCodeJob">
            <tasks>
              <exec command="/usr/bin/python">
                <arg>/usr/local/lib/python2.7/dist-packages/tubular/scripts/delay_and_print_vars.py</arg>
                <arg>GO_PIPELINE_NAME</arg>
                <arg>GO_JOB_NAME</arg>
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
      <stage name="NotifyAndTest">
        <jobs>
          <job name="SendHipChatMsgJob">
            <environmentvariables>
              <variable name="HIPCHAT_AUTH_TOKEN" secure="true">
                <encryptedValue>Aq8QBzl6p4bseL2/ZkNT6v6XhViqRuDyJVsvjb5CS5eDFmF6iN0I0TtKjeTTp5Ne</encryptedValue>
              </variable>
            </environmentvariables>
            <tasks>
              <exec command="/usr/bin/python">
                <arg>/usr/local/lib/python2.7/dist-packages/tubular/scripts/hipchat/submit_hipchat_msg.py</arg>
                <arg>-a</arg>
                <arg>HIPCHAT_AUTH_TOKEN</arg>
                <arg>-c</arg>
                <arg>Hammer</arg>
                <runif status="passed" />
              </exec>
            </tasks>
          </job>
          <job name="RunTest1Job">
            <tasks>
              <exec command="/usr/bin/python">
                <arg>/usr/local/lib/python2.7/dist-packages/tubular/scripts/delay_and_print_vars.py</arg>
                <arg>GO_EXTERNAL_TRIGGER_PR_ID</arg>
                <arg>GO_EXTERNAL_TRIGGER_REPO_URL</arg>
                <arg>GO_EXTERNAL_TRIGGER_COMMIT_HASH</arg>
                <runif status="passed" />
              </exec>
            </tasks>
          </job>
          <job name="RunTest2Job">
            <tasks>
              <exec command="/usr/bin/python">
                <arg>/usr/local/lib/python2.7/dist-packages/tubular/scripts/delay_and_print_vars.py</arg>
                <arg>GO_EXTERNAL_TRIGGER_PR_ID</arg>
                <arg>GO_EXTERNAL_TRIGGER_REPO_URL</arg>
                <arg>GO_EXTERNAL_TRIGGER_COMMIT_HASH</arg>
                <runif status="passed" />
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
    </pipeline>
    <pipeline name="build_alt">
      <materials>
        <pipeline pipelineName="edx_release_alt" stageName="NotifyAndTest" />
      </materials>
      <stage name="BuildStage">
        <jobs>
          <job name="defaultJob">
            <tasks>
              <exec command="/usr/bin/python">
                <arg>/usr/local/lib/python2.7/dist-packages/tubular/scripts/delay_and_print_vars.py</arg>
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
    </pipeline>
    <pipeline name="deploy_alt">
      <materials>
        <pipeline pipelineName="build_alt" stageName="BuildStage" />
      </materials>
      <stage name="DeployStage">
        <jobs>
          <job name="DeployJob">
            <tasks>
              <exec command="/usr/bin/python">
                <arg>/usr/local/lib/python2.7/dist-packages/tubular/scripts/delay_and_print_vars.py</arg>
              </exec>
            </tasks>
          </job>
        </jobs>
      </stage>
    </pipeline>
  </pipelines>
  <pipelines group="edx_deploy" />
  <templates>
    <pipeline name="Development">
      <stage name="Commit">
        <jobs>
          <job name="build">
            <tasks>
              <rake buildfile="Rakefile" target="build" />
            </tasks>
          </job>
        </jobs>
      </stage>
      <stage name="Unit_Test">
        <jobs>
          <job name="unit_test">
            <tasks>
              <rake buildfile="Rakefile" target="unit_test" />
            </tasks>
          </job>
        </jobs>
      </stage>
      <stage name="Package">
        <jobs>
          <job name="package">
            <tasks>
              <rake buildfile="Rakefile" target="package" />
            </tasks>
          </job>
        </jobs>
      </stage>
    </pipeline>
  </templates>
  <agents>
    <agent hostname="ip-10-0-5-165" ipaddress="10.0.5.165" uuid="f1966082-bb2a-4b4d-bfab-ba96dd44260b">
      <resources>
        <resource>tubular</resource>
      </resources>
    </agent>
  </agents>
</cruise>
